<!DOCTYPE html>
<html ng-app="testdirective">

  <head>
    <link rel="stylesheet" href="style.css">
	<script src="/googleapis/ajax/libs/angularjs/1.2.10/angular.js"></script>
	<script src="/googleapis/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>
	<script src="/googleapis/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
	<script src="/googleapis/ajax/libs/angularjs/1.2.10/angular-mocks.js"></script>
	<script src="ui-keypress.js"></script>
	<script src="script.js"></script> 
</head>
	<body ng-controller="food">
		<input type="text">
		<br />dropdown static<br />
		<dropdown name="foo" ng-model="foo">
			<ddli value="1"><span class='bla'>abc</span><span class='bli'>def</span></ddli>
			<ddli value="2">xyz</ddli>
			<ddli value="3">foo</ddli>
			<ddli value="4">bar</ddli>
		</dropdown>
		<br />dropdown static with default attr without value<br />
		<dropdown name="fu" ng-model="fu">
			<ddli value="1"><span class='bla'>hu</span><span class='bli'>da</span></ddli>
			<ddli value="2">ding</ddli>
			<ddli value="3" default>dong</ddli>
			<ddli value="4">lala</ddli>
		</dropdown>
		<br />
		with ng-repeat with default
		<br />
		<dropdown name="foobar" ng-model="foobar">
			<ddli value="{{vegie.id}}" ng-repeat="(i, vegie) in vegies" default="{{vegie.name === 'carots'}}" selected="{{i}}">{{vegie.name}}</ddli>
		</dropdown>
		<br />
		with ng-repeat without default
		<br />
		<dropdown name="foobarbaz" ng-model="foobarbaz">
			<ddli value="{{fish.id}}" ng-repeat="fish in fishes">{{fish.name}}</ddli>
		</dropdown>
	</body>

</html>
