/* Styles go here */
span{
  border: 1px solid tomato;
  }
li{
  border: 1px solid orange;
  }

li:focus {
  background-color: #f00;
}

dropdown>div>ul{
	position: absolute;
	list-style-type: none;
	background-color: Window;
	padding: 0;
	margin-top: 0;
}